.navbar {
	position: fixed;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	z-index: 1;
	transition: background-color 0.5s ease;
}

.navbar ul {
	display: flex;
	gap: 40px;
	justify-content: flex-end;
	margin: 20px;
}

.navbar:hover {
	background-color: rgba(0, 0, 0, 0.8);
	transition: background-color 0.5s ease;
}
